<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>

<body>
	<h1>Welcome to SwapMyWhip.com, <%=h @user.firstname %></h1>
	<p>
		You have successfully signed up for SwapMyWhip.com, and your username is: <%= @user.username %>.
		<br/>
		To login to the site, just follow this link: <a href="http://www.swapmywhip.com/login">http://www.swapmywhip.com/login</a>.
	</p>
	<p>
		Thanks for joining and have a great day!
	</p>
</body>
</html> 
