<table width="100%" border="0" cellpadding="20" cellspacing="0">
	<tr>
		<td align="left" valign="top">
			<h3>Forgot Password<br /></h3>
			
			Please enter your email address and instructions to reset your password will be emailed to you.<br />
			<br />
			
			<%= form_tag password_resets_path do %>
				<label>Email:</label><br />
				<%= text_field_tag "email" %><br />
				<br />
				<%= submit_tag "Reset my password" %>
			<% end %>

		</td>
	</tr>
</table>
