<div id="content" class="mrg_tp">
  <div class="page">
    <div class="leftcontent">
      <div class="uppercontent margin_tp"> <span>Welcome to</span><span class="boldclass"> Swapmywhip.com</span>
        <p>Tired of the old way of finding a new ride?  Without cash, you have to sell your current ride first, or take a hit in the wallet when you trade it in. There's a better way...</p>
        <p>We created a website where YOU can get a better deal. <span class="smwText">SwapMyWhip.com</span> lets you swap your vehicle with other private owners (or just purchase outright). Whether you're upsizing, downsizing, found a new hobby, or just enjoy something new every year, this site has something for you.</p>
        <p>Swap as often as you'd like, because you'll get value when you swap!
          Whatever your situation, you'll find that swapping for your next vehicle is the way to go!</p>
        <p>SwapMyWhip.com is free to use, so register today!</p>
        <div class="clear"></div>
      </div>
      <div class="java"> <span>Find A</span><span class="boldclass"> Whip</span>

        <!--lightbox-->
        <style type="text/css">

            .overlay {
                background: url("/assets/magnifier.png") no-repeat scroll center 105px transparent;
                height: 199px;
                position: absolute;
                width: 351px;
                z-ind/ex: 9999;
                opacity:0;
            }

            .overlay h5 {
                display: block;
                font-family: Oswald;
                font-size: 49px;
                font-weight: bold;
                line-height: 125px;
                margin: 0;
                text-align: center;
            }
            .overlay:hover
            {
                opacity:1;
                background-color:rgba(0,0,0,.5)
            }
        </style>
        <div class="lightbox">
          <a class="fancybox" rel="group" href="autolistings/autolistingsresults_new?listing_type=auto">
            <div class="overlay">
              <h5>AUTOMOTIVE</h5>
            </div>
          <img src="/assets/lightbox1.jpg" alt="" />
          </a>
          <a class="fancybox" rel="group" href="marinelistings/marinelistingsresults?listing_type=marine">
          <div class="overlay">
            <h5>MARINE</h5>
          </div>
          <img src="/assets/lightbox2.jpg" alt="" />
          </a>
          <a class="fancybox" rel="group" href="motolistings/motolistingsresults?listing_type=moto">
          <div class="overlay">
            <h5>MOTORCYCLE</h5>
          </div>
          <img src="/assets/lightbox3.jpg" alt="" />
          </a>
          <a class="fancybox" rel="group" href="powerlistings/powerlistingsresults?listing_type=power">
          <div class="overlay">
            <h5>POWER SPORTS</h5>
          </div>
          <img src="/assets/lightbox4.jpg" alt="" />
          </a>
        </div>

        <!--lightbox-->
      </div>
    </div>
    <div class="rightcontent">
      <div class="ad1"> <img src="/assets/ad1.jpg" width="300" height="125" /> </div>
      <div class="ad2"> <img src="/assets/ad2.jpg" width="300" height="125" /> </div>
      <div class="ad3"> <img src="/assets/ad3.jpg" width="300" height="250" /> </div>
      <div class="ad3"> <img src="/assets/ad3.jpg" width="300" height="250" /> </div>
    </div>
    <div class="clear"></div>
  </div>
</div>