<div id="content">
  <div class="page"> <img class="p_img" src="/assets/fullwidth.jpg" width="1050" />
    <div class="leftcontent">
      <div class="uppercontent"> <span>About Us</span>
        <p>The idea for <span class="smwText">SwapMyWhip.com</span> came to me out of pure frustration. I was in search of an alternative to the traditional methods of selling and buying vehicles. Buying a new car was always fun and exciting, but selling a car - ugh....I always dreaded that part of the process.
        </p>
        <p>I'd noticed ads on occasion for vehicle owners wishing to trade, but never found a site that was well organized and devoted to trading. And, working with dealerships and dealer websites - well, I never felt that I was getting good value for my trade in.
        </p>
        <p>So, the concept was born......
        </p>
        <p>I set out to put together a team of professionals - from programmers to graphic artists, and we collaborated on the project for the better part of a year, to ensure that every detail was perfect.
        </p>
        <p>An enormous amount of time, energy and thoughtful design went into making <span class="smwText">Swap My Whip</span> a reality. We believe we've created the greatest system ever, to help you find a new ride,  and create a new home for your old one. At <span class="smwText">Swap My Whip</span>, we are obsessed with ensuring that every customer finds his or her right swap. From day one, our focus has been to offer our customers the opportunity to realize high value for their vehicle, in an environment that has never before offered it.
        </p>
        <p>This site has been designed to promote a sense of community to its users, with the hope that honesty and fairness will play a key role in all the transactions that transpire here. Please check us out - we think you'll love <span class="smwText">Swap My Whip</span> so much that you'll want to spread the word.
        </p>
        <p>
          <span class="greenText">Welcome! Now, go &quot;Get your Swap On!&quot; </span>
          <br />
        </p>
        <p><b>Daniel Krause</b></p>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>