<div id="content">
  <div class="page"> <img class="p_img" src="images/fullwidth.jpg" width="1050" />
    <div class="leftcontent">
      <div class="uppercontent"> <span>How it Works</span>
        <div>
          <!-- panel -->

          <div id="CollapsiblePanel1" class="CollapsiblePanel">
            <div class="CollapsiblePanelTab" tabindex="0"><strong>How does this site work?</strong></div>
            <div class="CollapsiblePanelContent">
              A:</strong> <br />
              (1) Register<br />
              (2) Create a listing for the vehicle you own<br />
              (3) Add the vehicle that you desire to your Wishlist page<br />
              (4) Search for the desired vehicle you have just added to your Wishlist. If a "Perfect Swap" is available, it will be displayed as such in your search results. If not, the search results will display the vehicles you searched for, but they will not qualify as a "Perfect Swap". You can search through these listings, and email the owner to see if he/she might be interested in swapping for your vehicle. Having your desired vehicle displayed on your Wishlist will enable you to be notified when a "Perfect Swap" is available in the future. When a Perfect Swap is found, simply work out the details of your transaction with the other owner. There will possibly be a difference in value that needs to be addressed. Maybe a loan payoff as well. Work out your financial details, and use a reputable service to exchange funds. If you have no vehicle to swap, keep in mind that many owners will gladly entertain an offer to purchase outright.
            </div>
          </div>
          <div id="CollapsiblePanel2" class="CollapsiblePanel">
            <div class="CollapsiblePanelTab" tabindex="0"><strong>How much does this cost?</strong></div>
            <div class="CollapsiblePanelContent">
              <strong>A:</strong> Presently, you may list any vehicle on the site for free. In early 2014, we will be offering 3 pricing levels - free for 30 days, $9.99, and $19.99. The $9.99 and $19.99 levels will offer more text, photo, and video options than the free level. Any customer that lists their vehicle prior to the site transitioning to the new pricing structure will be grandfathered in, and their listing will remain free until their vehicle sells.
            </div>
          </div>
          <div id="CollapsiblePanel3" class="CollapsiblePanel">
            <div class="CollapsiblePanelTab" tabindex="0"><strong>What is a "whip?</strong></div>
            <div class="CollapsiblePanelContent">
              <strong>A:</strong> Whip - <em>Noun. </em><strong>Car</strong>. <em>Origin:</em> Street/hip-hop slang from New York City.
            </div>
          </div>
          <div id="CollapsiblePanel4" class="CollapsiblePanel">
            <div class="CollapsiblePanelTab" tabindex="0"><strong>Where did the term "whip" originate?</strong></div>
            <div class="CollapsiblePanelContent">
              A:</strong> On the first automobiles, the steering wheel was referred to as the &quot;whip&quot;, as it had previously been used to control horses on stagecoaches and buggies.  More recently, the Mercedes-Benz logo was noted to resemble a steering wheel, so the term was expanded to describe high end automobiles.
            </div>
          </div>
          <div id="CollapsiblePanel5" class="CollapsiblePanel">
            <div class="CollapsiblePanelTab" tabindex="0"><strong>Can I sell my vehicle on this site, or is this only for swapping?</strong></div>
            <div class="CollapsiblePanelContent">
              A:</strong> Yes, you can make/accept an offer as a straight sale on any listed vehicle.
            </div>
          </div>
          <div id="CollapsiblePanel6" class="CollapsiblePanel">
            <div class="CollapsiblePanelTab" tabindex="0"><strong>What if I'm dissatisfied with my swap?</strong></div>
            <div class="CollapsiblePanelContent">
              A:</strong> This site was designed to make its users feel a sense of community. As such, we hope that honesty and fairness will be the guiding qualities adhered to by all. However, please do your due diligence when researching any vehicle that captures your interest. Have the vehicle inspected by an independent party to confirm its condition. Above all, use common sense. Krause Capital LLC dba SwapMyWhip.com assumes no responsibility for problems arising from the exchange or sale of vehicles initiated on our site. We are simply providing a forum for owners to meet and discuss potential transactions. Please read the Terms of Service and Privacy Policy carefully.
            </div>
          </div>
          <div id="CollapsiblePanel7" class="CollapsiblePanel">
            <div class="CollapsiblePanelTab" tabindex="0"><strong>Do I have to be a member to swap a vehicle?</strong></div>
            <div class="CollapsiblePanelContent">
              A:</strong> Registration is required to swap vehicles on this site.
            </div>
          </div>
          <div id="CollapsiblePanel8" class="CollapsiblePanel">
            <div class="CollapsiblePanelTab" tabindex="0"><strong>How do I contact an owner once I've found a vehicle I want to swap for?</strong></div>
            <div class="CollapsiblePanelContent">
              A:</strong> An email link to the owner is provided on each listing page.
            </div>
          </div>

          <div id="CollapsiblePanel9" class="CollapsiblePanel">
            <div class="CollapsiblePanelTab" tabindex="0"><strong>Will you sell my personal information to other companies?</strong></div>
            <div class="CollapsiblePanelContent">
              A:</strong> No. No personal information will ever  be offered to others.
            </div>
          </div>

          <div id="CollapsiblePanel11" class="CollapsiblePanel">
            <div class="CollapsiblePanelTab" tabindex="0"><strong>Can I list multipe vehicles/types of vehicles?</strong></div>
            <div class="CollapsiblePanelContent">
              A:</strong> Sure. That's what this site is all about. Feel free to list any type of vehicle.  If listing more than four (4) vehicles, please contact us first, at <a href="mailto:info@swapmywhip.com">info@swapmywhip.com</a>.
            </div>
          </div>

          <div id="CollapsiblePanel12" class="CollapsiblePanel">
            <div class="CollapsiblePanelTab" tabindex="0"><strong>Will I receive spam/junk mail if I register for this site?</strong></div>
            <div class="CollapsiblePanelContent">
              A:</strong> No. The only email you will receive from our site, is from parties interested in your vehicle, or reminders from the staff that your listing is set to expire.
            </div>
          </div>

          <div id="CollapsiblePanel13" class="CollapsiblePanel">
            <div class="CollapsiblePanelTab" tabindex="0"><strong>Is my information secure?</strong></div>
            <div class="CollapsiblePanelContent">
              A:</strong> Yes. Our site is hosted on a secure server.
            </div>
          </div>

          <div id="CollapsiblePanel14" class="CollapsiblePanel">
            <div class="CollapsiblePanelTab" tabindex="0"><strong>How do I contact someone if I have a problem?</strong></div>
            <div class="CollapsiblePanelContent">
              A:</strong> You may click on the Contact Us link above, or send an email to <a href="mailto:info@swapmywhip.com">info@swapmywhip.com</a>.
            </div>
          </div>

          <div id="CollapsiblePanel15" class="CollapsiblePanel">
            <div class="CollapsiblePanelTab" tabindex="0"><strong>Why should I swap my vehicle instead of just sell it?</strong></div>
            <div class="CollapsiblePanelContent">
              A:</strong> Swapping allows both parties to get true value for their vehicles.
            </div>
          </div>

          <div id="CollapsiblePanel16" class="CollapsiblePanel">
            <div class="CollapsiblePanelTab" tabindex="0"><strong>How many pictures can I upload, and do they have to be a certain size/type?</strong></div>
            <div class="CollapsiblePanelContent">
              A:</strong> You may upload up to 4 pictures using the most popular image formats (jpg, bmp, gif).  Please keep files under 3 Megabytes in size.
            </div>
          </div>

          <div id="CollapsiblePanel17" class="CollapsiblePanel">
            <div class="CollapsiblePanelTab" tabindex="0"><strong>Why use the Wishlist?</strong></div>
            <div class="CollapsiblePanelContent">
              A:</strong> To enable our search engine to find a Perfect Swap, you must list your desired vehicle on the Wishlist. Even if your "Perfect Swap" is not available when you search, having your desired vehicle listed on the Wishlist will allow you to be notified of a future "Perfect Swap".
            </div>
          </div>
          <script type="text/javascript">
              var CollapsiblePanel1 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel1", {contentIsOpen:false});
              var CollapsiblePanel2 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel2", {contentIsOpen:false});
              var CollapsiblePanel3 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel3", {contentIsOpen:false});
              var CollapsiblePanel4 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel4", {contentIsOpen:false});
              var CollapsiblePanel5 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel5", {contentIsOpen:false});
              var CollapsiblePanel6 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel6", {contentIsOpen:false});
              var CollapsiblePanel7 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel7", {contentIsOpen:false});
              var CollapsiblePanel8 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel8", {contentIsOpen:false});
              var CollapsiblePanel9 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel9", {contentIsOpen:false});
              //var CollapsiblePanel10 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel10", {contentIsOpen:false});
              var CollapsiblePanel11 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel11", {contentIsOpen:false});
              var CollapsiblePanel12 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel12", {contentIsOpen:false});
              var CollapsiblePanel13 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel13", {contentIsOpen:false});
              var CollapsiblePanel14 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel14", {contentIsOpen:false});
              var CollapsiblePanel15 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel15", {contentIsOpen:false});
              var CollapsiblePanel16 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel16", {contentIsOpen:false});
              var CollapsiblePanel17 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel17", {contentIsOpen:false});
          </script>
          <!-- panel -->
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>