<table width="883" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td align="center" valign="top">
			<p>Forums coming soon!</p>
			<p>
				Anyone wishing to moderate a forum for the following vehicles, please drop us an email @ <a href="mailto:info@swapmywhip.com">info@swapmywhip.com</a>:
				<br />
				Mustangs, Corvettes, Mopar, Camaros, Harley Davidson, Moto Guzzi, Porsche, Audi, VW, BMW Cars, BMW Motorcycles, Triumph Motorcycles, Victory Motorcycles
			</p>
		</td>
	</tr>
</table>
